@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,600;1,6..12,400;1,6..12,500&family=Poppins:wght@300;400;500&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*======colors======*/
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #007bff;
    --collor-wbtn: #63aeff6a;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070e6;
    --text-table: #7070703d;
    --text-color-dark: #000;


    /*======transition======*/
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body {
    display: grid;
    grid-template-columns: 88px auto;
    grid-template-rows: calc(100% - 100px) 100px/auto ;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.bodyClose {
  grid-template-columns: 250px auto;
  transition: var(--tran-05);
}


/*======Sidebar======*/
.sidebar {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 15px 18px;
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    display: none;
}

.sidebar .image {
    min-width: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.min {
    justify-content: center !important;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20x;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);

}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 70%;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%) rotate(180deg);
    height: 35px;
    width: 35px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar li .link-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    transition: var(--tran-04);
}

.sidebar li .link-form:hover {
    background: var(--primary-color);
}

.sidebar li .link-form:hover .icon,
.sidebar li .link-form:hover .text {
    color: var(--sidebar-color);
}

/* === conteudo === */

.conteudo {
  display: grid;  
  grid-template-rows: auto 1fr auto;  
}

.conteiner {
    display: grid;
    grid-template-columns: 60% auto;
  }

.small-cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grafich {
  grid-column-start: 1;
  grid-column-end: -1;
}


.home {   
   height: 100%;  
   transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color-dark);
    padding: 18px 40px;
}

.sidebar.close~.home {
    left: 88px;   
       
}

.sidebar.close~.sidebar {
  width: calc(100% - 250px) !important;
}

.sidebar.close~.grafich {
  left: 88px;
  width: calc(100% - 88px); 
}


.sidebar.close~.recent--activity {
    left: 88px;
    width: calc(100% - 88px);
}

.closeIcons {
  width: auto !important;
}

.recent--activity {
  display: flex;
  position: relative;  
  max-width: 290px !important;
}


.grafich--position {
position: relative;
width:auto;
}

.navegation {
    display: flex;
    justify-content: center;
}

.dropdown--nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.user--name--nav {
    display: flex;
    margin-bottom: inherit;
    padding: 7px;
}

.dropdown--nav--list {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

.dropdown--nav a:hover {
    text-decoration: none;
    color: var(--text-color) !important;
}

.navegation--pag {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: -30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: var(--text-color);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show {
    text-decoration: none;
}

.cards {
  display: grid;
  ;
  align-content: space-between;
}

.sales-card .card-icon {
    /* color: #4154f1; */
    background: #f6f6fe;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.sales-card .card-icon {
    /* color: #4154f1; */
    background: #f6f6fe;
}

.rounded-circle {
    border-radius: 50% !important;
}

.align-items-center {
    align-items: center !important;
}

.btn--icon a {
    text-decoration: none;
}


.icon--primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--collor-wbtn);
    /* background: #f6f6fe; */
    margin: 20px;
}

.filter {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    text-decoration: none;
}

/* Activity */
.activity {
    font-size: 14px;
  }
  
  .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
  }
  
  .activity .activity-item .activite-label::before {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
  }
  
 .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
  }
  
  .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px;
  }
  
  .activity .activity-item:first-child .activite-label::before {
    top: 5px;
  }
  
  .activity .activity-item:last-child .activity-content {
    padding-bottom: 0;
  }
  
  /* News & Updates */
  .news .post-item+.post-item {
    margin-top: 15px;
  }
  
  .news img {
    width: 80px;
    float: left;
    border-radius: 5px;
  }
  
  .news h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .news h4 a {
    color: #012970;
    transition: 0.3s;
  }
  
  .news h4 a:hover {
    color: #4154f1;
  }
  
  .news p {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
  }
  
  /* Recent Sales */
  .recent-sales {
    font-size: 14px;
  }
  
  .recent-sales .table thead {
    background: #f6f6fe;
  }
  
  .recent-sales .table thead th {
    border: 0;
  }
  
  .recent-sales .dataTable-top {
    padding: 0 0 10px 0;
  }
  
  .recent-sales .dataTable-bottom {
    padding: 10px 0 0 0;
  }
  
  /* Top Selling */
  .top-selling {
    font-size: 14px;
  }
  
  .top-selling .table thead {
    background: #f6f6fe;
  }
  
  .top-selling .table thead th {
    border: 0;
  }
  
  .top-selling .table body td {
    vertical-align: middle;
  }
  
  .top-selling img {
    border-radius: 5px;
    max-width: 60px;
  }

  .card-body {
    padding: 0 20px 20px 20px;
  }


.lateral   {
    display: flex;
    justify-items: end;
    justify-content: end;
    height: 600px;
    border: none !important;    
}

.card--lateral {
    display: flex;
    justify-content: end;
    justify-items: end;
    width: 290px;
}
 
 .col--table {
    background-color: var(--sidebar-color);
    /* left: 500px;
    height: 400px; */
    /* width: 845px; */
    border-radius: 5px;
    padding: 10px;
  }

  .color--table {
  background: var(--collor-wbtn);
  }

  tr:hover {
  background-color: var(--collor-wbtn)
  }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar-color);
  grid-column-start: 1;
  grid-column-end: -1;
  height: 80px;
}